Feature Requests Prioritzer.json
{
  "name": "Feature Requests Prioritzer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        -320
      ],
      "id": "d0740483-2e71-4361-a06c-d5c8624ca96a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 100,
        "filters": {
          "readStatus": "both"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        -320
      ],
      "id": "50a0fa9d-aacb-40ff-852c-cec49919cf90",
      "name": "Get many messages",
      "webhookId": "c49ce289-c932-4883-8fab-df3c38bc8fb1",
      "credentials": {
        "gmailOAuth2": {
          "id": "K9UXy9HHQqJiX3ff",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        -416
      ],
      "id": "6d22c02b-78f1-449c-9e1e-b60d2d35bf9e",
      "name": "Mark a message as read",
      "webhookId": "c03041fd-3033-4bcd-96e6-6787732310c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "K9UXy9HHQqJiX3ff",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "formId": "tP9v5Blq"
      },
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1.1,
      "position": [
        256,
        16
      ],
      "id": "5d5fe7ef-6751-4bbf-b7c1-eb4283539baf",
      "name": "Typeform Trigger",
      "webhookId": "043dc632-c638-4316-89be-bda122082bba",
      "credentials": {
        "typeformApi": {
          "id": "xjQU9C2HkndY5OMg",
          "name": "Typeform account"
        }
      }
    },
    {
      "parameters": {
        "path": "3033649c-8ea3-4119-bdcc-986dc45f0594",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        304
      ],
      "id": "48ea09a5-dd70-4eb2-bb75-59a324b7faab",
      "name": "Webhook",
      "webhookId": "3033649c-8ea3-4119-bdcc-986dc45f0594"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d98c6605-646c-4064-82fc-6f00d5b2324c",
              "name": "raw_content",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "a463e303-0b42-47ea-b760-98f6c5d40058",
              "name": "subject_line",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "beeabd43-bdad-451b-957b-e269fa101193",
              "name": "source",
              "value": "\"email\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -224
      ],
      "id": "a1cd4fd8-6eb6-4c50-815c-f4d955c4f11d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eacb5516-8df3-4988-b86c-7a26f84dfa7d",
              "name": "raw_content",
              "value": "={{ $json.answers[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        160
      ],
      "id": "be333d45-992f-470f-9a01-cea7badbb1b2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7441b0-e13d-42bf-907e-0a9f71df8964",
              "name": "raw_content",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "b519e01f-900c-4c0c-b3a3-bed59cf96b93",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        144
      ],
      "id": "80e8ec3e-98be-484f-b366-9ab97002fedd",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.raw_content }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a startup feedback classifier.\n\nAnalyze this feedback.\n\nReturn JSON only\nfeature_request = true/false\nfeature_summary = ...\nurgency = ....\nreasoning = .....\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        160
      ],
      "id": "4af4b80c-7d91-4e82-b344-b12f6ba708e9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        944,
        384
      ],
      "id": "e80d3b2f-7e25-4fb7-9399-4384443c0244",
      "name": "Gemini 3 flash",
      "credentials": {
        "googlePalmApi": {
          "id": "SlKorLLmajzTYhAY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1072,
        384
      ],
      "id": "bd550bd6-eb25-4f16-8592-a0b7b74441cb",
      "name": "Gemini 2.5 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "SlKorLLmajzTYhAY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e39d0fdb-934d-401f-9fdd-0e6720475ca9",
              "leftValue": "={{ $json.is_feature_request }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        160
      ],
      "id": "b7f0a822-2ea6-4505-8ab6-e972016e6be6",
      "name": "If"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        2096,
        384
      ],
      "id": "be09c269-1c65-4227-a75d-905854b6cb4f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SlKorLLmajzTYhAY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        2224,
        384
      ],
      "id": "2e18f9b3-55d5-4c70-8d7d-fd4964852dfa",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "SlKorLLmajzTYhAY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1e3NK_XmMGMRaVVxJCKSIL75VODht_MCMcmpFLjEZgX8",
          "mode": "list",
          "cachedResultName": "Feature Requests Prioritizer n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e3NK_XmMGMRaVVxJCKSIL75VODht_MCMcmpFLjEZgX8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e3NK_XmMGMRaVVxJCKSIL75VODht_MCMcmpFLjEZgX8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FEATURE": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "FEATURE",
              "displayName": "FEATURE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CUSTOMER",
              "displayName": "CUSTOMER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SOURCE",
              "displayName": "SOURCE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URGENCY",
              "displayName": "URGENCY",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        160
      ],
      "id": "c336bd50-13bb-4f71-bb70-05f85afcd684",
      "name": "Update Customer List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ThamQrkv0LEgTIlx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    is_feature_request: $json.output\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        160
      ],
      "id": "effbda2a-9073-4bdd-b180-3d95db027853",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ec5DIHqwidp4ICXFPBN6tUdiivYMMIEG2nupczcpS7A",
          "mode": "list",
          "cachedResultName": "Feature Req workflow database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ec5DIHqwidp4ICXFPBN6tUdiivYMMIEG2nupczcpS7A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ec5DIHqwidp4ICXFPBN6tUdiivYMMIEG2nupczcpS7A/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Raw_Content": "={{ $json.raw_content }}",
            "Date_Received": "={{ new Date().toISOString() }}",
            "Status": "Pending",
            "ID": "={{ $json.id || $json.body?.message_id || $json.event_id || Math.random().toString(36).substr(2, 9) }}"
          },
          "matchingColumns": [
            "TRIGGER"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Raw_Content",
              "displayName": "Raw_Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source ",
              "displayName": "Source ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date_Received",
              "displayName": "Date_Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -32
      ],
      "id": "0e80c89a-24db-4c11-b958-b4136c57783e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ThamQrkv0LEgTIlx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Παίρνουμε το ακατέργαστο output από τον πρώτο AI Agent\nlet rawOutput = $json.output;\nlet isFeature = \"false\";\n\ntry {\n  // Καθαρίζουμε τυχόν markdown formatting (π.χ. ```json ... ```)\n  let cleanJson = rawOutput.replace(/```json|```/g, '').trim();\n  let parsed = JSON.parse(cleanJson);\n  \n  // Ελέγχουμε αν η ιδιότητα feature_request είναι true\n  if (parsed.feature_request === true || parsed.feature_request === \"true\") {\n    isFeature = \"true\";\n  }\n} catch (e) {\n  // Fallback σε περίπτωση που το output δεν είναι έγκυρο JSON string\n  if (rawOutput && rawOutput.toLowerCase().includes(\"true\")) {\n    isFeature = \"true\";\n  }\n}\n\nreturn {\n  json: {\n    is_feature_request: isFeature\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        160
      ],
      "id": "822b13d2-5163-46f0-a39d-0bc05ead6c0d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "let summary = \"Feature Request\";\n\ntry {\n  // Παίρνουμε το output του πρώτου AI Agent και καθαρίζουμε το markdown formatting\n  let rawOutput = $('AI Agent').item.json.output;\n  let cleanJson = rawOutput.replace(/```json|```/g, '').trim();\n  let parsed = JSON.parse(cleanJson);\n  \n  // Εξάγουμε το feature_summary αν υπάρχει\n  if (parsed.feature_summary) {\n    summary = parsed.feature_summary;\n  }\n} catch (e) {\n  // Fallback αν αποτύχει το parsing\n  summary = \"Feature Request\";\n}\n\nreturn {\n  json: {\n    output: summary\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        144
      ],
      "id": "2108e7cb-2371-401e-859b-5a2dfb04a12b",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        []
      ]
    },
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3 flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Customer List": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Update Customer List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0f9335b4-9746-4c63-beae-99a99a12acea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad02b850b72b806c34d3f1401b6f233a142112a47a1a3338f6ba3a1a764e7713"
  },
  "nodeGroups": [],
  "id": "Ahx7r0Kv7WlzIEEl",
  "tags": [
    {
      "updatedAt": "2026-06-18T16:11:21.632Z",
      "createdAt": "2026-06-18T16:11:21.632Z",
      "id": "2HbhhB1Hf5Dj1z4G",
      "name": "customer support"
    }
  ]
}